.App {
  text-align: center;
}

#root {
  height: 100%;
}
.app {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}.container2{
  width: 60%;
   height:50%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: 083339column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.screen-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
  font-weight:bolder;
  font-size: 100px;

}

.buttonRight {
  background: #6cd2a2;
  padding: 60px 100px;
  float: 'right';
  background-size:130px 110px;
  background-repeat: no-repeat;
  background-position: left;
  border: 5px solid #083339;
  
}


#game-body {
  display: flex;
  height: 100%;
}

#side-bar {
  float:right;
  display: flex;
  flex-direction: column;
  background-color: var(--game-green); 
  border: 4px solid var(--game-outline);
}

.rightalign {
  display: "flex";
}


.flex-bg {
  background: #6bd2b5;
  padding: 1px;
  border-bottom: 11px solid #083339;


  
}
.homeButton {
  background: #e6e66a;
  padding: 60px 150px;
  float: 'right';
  background-size:100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #083339;


}

.invest{
  color:black;
}
.basic-single{
  color:blue;
  width:200px;
  display: "flex";
  text-align:center;
  align-items: 'center';
  padding:0px 25px 0px 25px;

  

}
.flex-nav-text {
  color: #083339;
  padding:30px 0px;
  
}

.flex-nav-text-year {
  color: #083339;
  padding:30px 0px;
  font-size: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  text-align:center;
  color:rgb(214, 214, 214);
}
.screen {
  background-color: darkslategrey;
  width: 100%;
  height: 100%;
  padding-top: 40px; 
}
.home {
  background: rgb(91, 52, 136);
  height:800px;
}
.choice {
  background: rgb(142, 250, 205);
  width:50%;
  color:black;
  padding: 20px;
  text-align:center;
  margin-left: 25%;
  margin-right: 25%;

}
.time {
  background: rgb(142, 250, 205);
  height:800px

}
.skills {
  background: rgb(250, 216, 142);
  height:800px

}
.savings {
  background: rgb(108, 226, 255);
  height:800px

}
.debt {
  background: slategray;
  height:800px

}
.inventory {
  background: lightslategray;
  height:800px

}
.screen.off {
  background-color: gray;
}